<div id ="contenidorLlista" ng-controller="LlistaController" ng-init="obtindreResultats()">
  <h1>Resultats de les enquestes en temps real:</h1>
  <h4>Ja s'han fet {{post.vegades}} enquestes.</h4>

    <ul>
      <li><h3>1:{{post.pregunta1.desc}}</h3></li>
      <li>Si:{{post.pregunta1.si}}</li>
      <li>No:{{post.pregunta1.no}}</li>
    </ul>
    <ul>
      <li><h3>2: {{post.pregunta2.desc}}</h3></li>
      <li>Si:{{post.pregunta2.si}}</li>
      <li>No:{{post.pregunta2.no}}</li>
    </ul>
    <ul>
      <li><h3>3: {{post.pregunta3.desc}}</h3></li>
      <li>Si:{{post.pregunta3.si}}</li>
      <li>No:{{post.pregunta3.no}}</li>
    </ul>
    <ul>
      <li><h3>4: {{post.pregunta4.desc}}</h3></li>
      <li>Si:{{post.pregunta4.si}}</li>
      <li>No:{{post.pregunta4.no}}</li>
    </ul>
    <ul>
      <li><h3>5: {{post.pregunta5.desc}}</h3></li>
      <li>Si:{{post.pregunta5.si}}</li>
      <li>No:{{post.pregunta5.no}}</li>
    </ul>
    <ul>
      <li><h3>6: {{post.pregunta6.desc}}</h3></li>
      <li>Punts:{{post.pregunta6.valor/post.vegades}} / 5</li>
      <small class="form-text text-muted">Gens d'acord - 1</small>
      <small class="form-text text-muted">Una mica d'acrod - 2</small>
      <small class="form-text text-muted">Sovint d'acord - 3</small>
      <small class="form-text text-muted">Gairebe Sempre d'acord - 4</small>
      <small class="form-text text-muted">Molt d'acord - 5</small>
    </ul>
    <ul>
      <li><h3>7: {{post.pregunta7.desc}}</h3></li>
      <li>Punts:{{post.pregunta7.valor/post.vegades}} / 5</li>
      <small class="form-text text-muted">Gens d'acord - 1</small>
      <small class="form-text text-muted">Una mica d'acrod - 2</small>
      <small class="form-text text-muted">Sovint d'acord - 3</small>
      <small class="form-text text-muted">Gairebe Sempre d'acord - 4</small>
      <small class="form-text text-muted">Molt d'acord - 5</small>
    </ul>
    <ul>
      <li><h3>8: {{post.pregunta8.desc}}</h3></li>
      <ul ng-repeat="coment in post.pregunta8.comentaris track by $index">
        <li>{{coment}}</li>
      </ul>
      <h3>Llista de correus d'Interessats en participar:</h3>
      <div ng-repeat="mail in post.mails track by $index">
          {{mail}}
      </div>
</div>
